* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Arial";
    width: 100%;
  }
  .header {
    max-width: 100%;
    margin: auto;
    max-height: 809px;
    background-color: #10023c;
    color: white;
    background-image: url(https://s3-alpha-sig.figma.com/img/f9d7/bc23/0d63f4381a20d44025facd4fed94cf08?Expires=1655683200&Signature=LPkzLXb5bRphZvgA6dC9CIVTvUryX~XPkIS5qlfnco1zxPmO6WaGwUhXz9jppUhkx57d1COXZJSo-qem-~phrTVxtCNqf3SrMuknTkkbPgEj1ImDC~sXFP4MS1Y3C6b7xnPmdc0uS~GDHsWwLAfjjlWee6VE~CPNaAtkJwcQN86rNRywPlFBnRoIZkhIIqsA~v8ZP~RDcLvG0npznJD3umwuDsmbp~R6YTgxw7ZP311gmm9CxPhG7VSvGn95z1F82GYxyxmVIFnBg4mlDGJvbU6eqpn9ZenpOJSqHIy0d0IhYa3Ybo4ma-3dDZvwTlofjE04ucqGhd68ByqjVSVlSg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headerContentContainer {
    max-width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .headerTop {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerTop p {
    font-style: bold;
    font-size: 18px;
  }
  .navbar {
    height: 100%;
    font-family: "Inter", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    vertical-align: Top;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-indent: 20px;
  }
  .navbar a {
    color: white;
    text-decoration: none;
  }

  .headerBottom {
    width: 100%;
    height: 809px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerBottomRight {
    display: flex;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
  }
  .headerBottomRight img {
    object-fit: cover;
    width: 45%;
  }
  .headerBottomLeft {
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5%;
    color: white;
  }
  .headerBottomLeft h2 {
    font-size: 35px;
  }
  .headerBottomLeft p {
    width: 80%;
    font-size: 18px;
  }
  .headerBottomLeft button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    border: none;
    width: 199px;
    height: 53px;
    justify-content: center;
    background: #10f1bb;
    border-radius: 48px;
    font-size: 16px;
    font-weight: 700;
  }
  .headerBottomRight img {
    width: 60%;
    height: 80%;
  }
  .aboutUs {
    height: 348.76px;
    background: #f0f4f5;
    padding-top: 50px;
    padding: 100px 190px 77px;
    gap: 8px;
  }
  .aboutUsMain {
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: #f0f4f5;
  }
  .aboutUsMain h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #040b34;
  }
  .aboutUsMain span {
    margin-top: 10px;
    width: 60px;
    height: 0px;
  
    border: 1.5px solid #351b7a;
  }
  .descriptionContainer {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    margin-top: 40px;
    color: #4a4e65;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 79px;
    gap: 8px;
  
    height: 1491px;
  }
  .mainContentContainer {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subContainer {
    width: 90%;
    height: 33%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .itemImg {
    width: 45%;
    height: 90%;
    background: url(https://s3-alpha-sig.figma.com/img/6fec/feb1/cb5e936200a534beb33df7e8be3fd8b9?Expires=1655683200&Signature=GuyLY6n-VhwF970deWNfgRYyZH3wBdOPyVsAGQ0k06P8-KZymKJ092z3ooPwWAa5EOy8qzey8YeWgwY~SCKEDla8AjLUSp~dj3Glesmkh2y~zLf-cxLsXoczSaop8Gnbkp7rnxpcf-hSuAGZncfV5z4Xi3bs7RbJUVvr5uZObascARIlcFPl8YYouZwqvoo8YaX4o1lNUho1W47MiI1rZlSlX0M~lFTgTbU44R~SNWYq4t7X1Dky15YjHB7kglyHIrvSmicfcfx5ai8XWN~QokMl3FJSY2rqP8IT~lo1cKNXE9VEaZUJlAbVqMDBcax55aYvivgdcgQr7v7ZYWW3BQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  
  .itemDescription {
    width: 45%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .itemDescription button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 22px;
    gap: 10px;
    width: 156px;
    height: 46px;
    color: white;
    background: #351b7a;
    border-radius: 48px;
    border: none;
    margin-top: 30px;
  }
  
  .itemDescription button i {
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px 10px;
  }
  
  .itemDescription h2 {
    width: 512px;
    height: 74px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #040b34;
  }
  
  .itemDescription span {
    width: 60px;
    height: 0px;
    margin-top: 16px;
    border: 1.5px solid #351b7a;
  }
  .itemDescription p {
    width: 624px;
    height: 78px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 16px;
    color: #4a4e65;
  }
  @media screen and (max-width: 480px) {
    .header{
        height:75vh;
      }
    .headerContentContainer {
        height: 100%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
      }
    .navbar{
        display: none;
      }
    .headerBottomLeft {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10%;
        color: white;
      }
    .headerBottomRight img {
        display: none;
      }
    .headerBottomLeft p {
        width: 100%;
        font-size: 16px;
      }
    .headerBottomLeft h2 {
        font-size: 32px;
      }
    .navbar{
        display: none;
      }
    .headerBottomLeft button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 24px;
        gap: 10px;
        border: none;
        width: 199px;
        height: 58px;
        justify-content: center;
        background: #10f1bb;
        border-radius: 48px;
        font-size: 18px;
        font-weight: 700;
      }
      .aboutUs {
        height: auto;
        width: 100%;
        background: #f0f4f5;
        padding: 0;
        padding-top: 80px;
     
      }
      .aboutUsMain {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background: #f0f4f5;
      }
      .aboutUsMain h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 32px;
        color: #040b34;
      }
      .aboutUsMain span {
        margin-top: 10px;
        width: 60px;
        height: 0px;
      
        border: 1.5px solid #351b7a;
      }
      .descriptionContainer {
        width: 70%;
        margin: 0;
        text-align: center;
        margin-top: 1%;
        margin-top: 40px;
        color: #4a4e65;
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        font-family: Arial, Helvetica, sans-serif;
      }
    
}
  .ourSolutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 60px;
    margin: auto;
    background-color: #f0f4f5;
    height: 493px;
  }
  .ourSolutions p {
    width: 50%;
    height: 17px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #040b34;
  }
  .ourSolutions span {
    width: 60px;
    height: 0px;
    border: 1.5px solid #351b7a;
  }
  .ourSolutionElementsContainer {
    width: 80%;
    height: 100%;
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ourSolutionElement {
    width: 22%;
    height: 70%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ourSolutionElement img {
    height: 76.32px;
  }
  .ourSolutionElement h2 {
    margin-top: 20px;
    width: 105px;
    height: 30px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
  }
  .ourSolutionElement p {
    text-align: center;
    width: 256px;
    height: 53.1px;
    margin-top: 20px;
    color: #4a4e65;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .footer {
    width: 90%;
    height: 357.89px;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  .halfFooter {
    width: 90%;
    height: 357.89px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pineconeSection {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2%;
  }
  .pineconeSection h2 {
    width: 152.73px;
    height: 37px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
  }
  
  .pineconeSection p {
    width: 377px;
    height: 78px;
    left: 106px;
    top: 164px;
  
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: rgba(4, 11, 52, 0.5);
    text-align: justify;
    margin-top: 20px;
  }
  .email {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 2%;
  }
  .followus {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    height: 26px;
    left: 1122.63px;
    top: 117px;
    text-indent: 10px;
    align-items: flex-end;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
  
    text-align: justify;
    color: #040b34;
  }
  .followus a {
    list-style-type: none;
    color: #040b34;
    font-size: 22px;
    list-style: none;
  }
  .email button {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
  }
  .button {
    width: 488px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 50px;
  }
  #email {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    border: 0.5px solid silver;
  }
  #subscribe {
    position: absolute;
    width: 30%;
    height: 100%;
    background: #351b7a;
    color: white;
    right: 0;
    border-radius: 60px;
  }
  
  #subscribe i {
    border: 1px solid white;
    padding: 2.5px 6px;
    border-radius: 100%;
    margin-left: 10px;
  }
  .lastFooter {
    width: 90%;
    height: auto;
  }
  .footer span {
    width: 80%;
    height: 2px;
    background-color: #040b34;
    /* border: 1.5px solid rgba(4, 11, 52, 0.1); */
  }
  .copyright {
    width: 222px;
    height: 26px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
  
    text-align: center;
    color: rgba(4, 11, 52, 0.3);
  }
  